@import url('https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: "Alice", serif;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    background-color: #09090A;
}

.group-all {
    display: flex;                    /* Usar grid layout */   /* Uma única coluna */
    flex-direction: row;                 /* Espaço entre as seções */                   /* Centraliza o contêiner na página */
}

.group-1{
    width: 40rem;
    margin: 20px;                   /* Margem em torno de cada grupo */   /* Fundo diferente para visualização */
    border-radius: 10px;            /* Arredondar os cantos */
    padding: 20px;   
    height: auto;                  /* Espaço interno */
}

.group-2 {
    background-color: #FFFFFF;
    width: 50rem;
    margin: 20px;                   /* Margem em torno de cada grupo */   /* Fundo diferente para visualização */
    border-radius: 10px;            /* Arredondar os cantos */
    padding: 20px;     
    height: auto;                    /* Deixe a altura automática */
}


.group-1 > img {
    height: 72px;
    width: 200px;
    margin-bottom: 7rem;
}

.group-1 H1 {
    margin: 0;
    font-size: 5rem;
    color: #FFFFFF;
    padding-bottom: 1rem;
}

.group-1-texto {
    color: #8D8D99;
    font-size: 3rem;
    margin: 0;
}

.group-1-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7rem;
    background-color: #202024;
    height: 7rem;
    width: 24rem;
    border-radius: 3rem;
}

.image_1_1 {
    margin: 0 1rem;
    padding: 0;

}


.group-1-1 p {
    font-size: 3rem;
    color: #E1E1E6;
    margin-left: 1rem;
    padding: 0;
}

.group-2 h3 {
    color: #e1624f;
}

.line_under {
    border-bottom: 1px solid #747474; /* Altere a cor e a espessura conforme necessário */
    padding-bottom: 10px;    
}


.group-2 img {
    width: 100%;
}


footer {
    background-color: #8234E9;
    padding: 0.8rem;
}

